body,
html {
  margin: 0;
  padding: 0;
  background-color: #15031b;
}
* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clockSelf {
  font-family: "Roboto Slab", "regular 400";
  font-size: 12vw;
  background-image: linear-gradient(
    180deg,
    rgb(111, 238, 255) 0%,
    rgb(255, 255, 255) 50%,
    rgb(17, 160, 222) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.miniContainer {
  display: flex;
  padding: 2.4rem;
  background-color: #bb00ff25;
  border-radius: 5px;
  margin: 0.75rem 0 0.75rem 0;
  flex-direction: column;
  justify-content: center;
}

.clock {
  font-family: "Roboto Slab", "regular 400";
  font-size: 5vw;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(235, 255, 179) 50%,
    rgba(12, 12, 12, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 3rem;
  color: antiquewhite;
}
